extends ../../layout/default.pug
include ../../mixins/form-checkbox-multi.pug
import alert from "../../mixins/alert.pug"

block main 
    h1 Danh sách sản phẩm 
    +alert-success(5000)

    .card.mb-3
        .card-header Bộ lọc và tiềm kiếm 
        .card-body
            .row
                .col-6
                    each item in filterStatus
                        button(
                            class=`btn btn-sm ml-1 btn-outline-success  ${item.class}`
                            button-status=item.status
                        ) #{item.name}

                .col-6
                    form(id ="form-search")
                            .input-group
                                    input(
                                        type ="text"
                                        placeholder ="Nhap tu khoa "
                                        name ="keyword"
                                        class="form-control"
                                        value =keyword
                                    )
                                    .input-group-append 
                                    button(
                                        class ="btn btn-success"
                                        type="submit"
                                    ) tim
        
    .card.mb-3
        .card-header Sap xep va phan trang
        .card-body
            .row
                .col-4 
                    div(sort)
                        select(

                            class="form-control form-control-sm"
                            name="sort"
                            sort-select
                        ) 
                            option(value="position-asc" selected) Vị trí tăng dần
                            option(value="position-desc") Vị trí giảm dần
                            option(value="price-asc") Giá tăng dần
                            option(value="price-desc") Giá giảm dần
                            option(value="createdAt-asc") Ngày tạo tăng dần
                            option(value="createdAt-desc") Ngày tạo giảm dần
                        
                        button(class="btn btn-danger btn-sm ml-1" ,sort-clear) Xóa bộ lọc
                        
                         
    .card.mb-3
        .card-header Danh sách sản phẩm
        .card-body
            +form-checkbox-multi(`${prifixAdmin}/change-multi`)
            table (class="table table-bordered table-hover mt-3", checkbox-multi)//- Thêm id cho table để dễ dàng thao tác với JavaScript
                thead
                    tr 
                        input#(type="checkbox", name="checkAll")//- Checkbox để chọn tất cả
                        th STT
                        th Hình ảnh 
                        th Tiêu đề
                        th Giá 
                        th Vị trí
                        th Trạng thái
                        th Hoạt động 
                tbody
                    
                    //- Lấy thêm biến index để làm số thứ tự (STT)
                    each item, index in products
                        tr
                            input#(type="checkbox", name="selectedProducts", value=item._id)//- Checkbox để chọn sản phẩm
                            td #{index + 1}
                            td 
                                img(
                                    src=item.thumbnail 
                                    alt=item.title
                                    width="100px"
                                    height="auto"
                                )
                            //- Hiển thị tên sản phẩm từ dữ liệu
                            td #{item.title}
                            //- Hiển thị giá
                            td #{item.price}$
                            td 
                                input(
                                    type="number"
                                    name="position"
                                    value=item.position
                                    style="width: 60px;"
                                    class="form-control form-control-sm position-input"
                                    min = "1"
                                    data-id=item._id //- Thêm data-id để biết sản phẩm nào đang được cập nhật vị trí
                                )
                            td 
                                //- Kiểm tra trạng thái để hiển thị badge xanh hoặc đỏ
                                if item.status == 'active'
                                    a(href='#' class="badge badge-success") Hoạt động
                                else
                                    a(href='#' class="badge badge-danger") Dừng hoạt động
                            td 
                                button(class='btn btn-warning btn-sm') Sửa 
                                button(class='btn btn-danger btn-sm ml-1') Xóa


    nav
        ul(class="pagination")
            for ( var i = 1; i <= objectPagination.totalPages; i++)
            li(class=`page-item `)
                button(class"= `page-link ${i === objectPagination.currentPage ? 'active' : ''}` data-page=i) #{i}

           
                            